{% extends "layout.html" %}
{% block body %}
<!-- Page Header -->
<!--<header class="masthead" style="background-image: url('{{ url_for('static', filename='assets/img/admin.jpg') }}')">-->
    <header class="masthead" style="background-image: url('/static/assets/img/admin.jpg')"></header>
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Admin Panel</h1>
                    <span class="subheading">Manage your posts</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content -->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!--<h1> Upload a file</h1>-->
            <!--we will add here-->
            <h2>Basic Actions</h2>
            <a href="/dashboard"> <button class="btn btn-primary">Dashboard Home</button></a>
            <a href="/logout"> <button class="btn btn-primary">Logout</button></a>
            <hr>
            <h2>Add/Edit Post</h2>
            <form id="contactForm" data-sb-form-api-token="API_TOKEN" action="/edit/{{ sno }}" method="POST">
                <div class="form-floating">
                    <input class="form-control" id="title" name="title" type="text" 
                           placeholder="Enter the Title" value="{{ post.resource_name if post else '' }}" />
                    <label for="title">Title</label>
                </div>
                <div class="form-floating">
                    <input class="form-control" id="subheading" name="subheading" type="text" 
                           placeholder="Enter the subheading" value="{{ post.subheading if post else '' }}" />
                    <label for="subheading">Subheading</label>
                </div>
                <div class="form-floating">
                    <input class="form-control" id="slug" name="slug" type="text" 
                           placeholder="Enter the slug" value="{{ post.slug if post else '' }}" />
                    <label for="slug">Slug</label>
                </div>
                <div class="form-floating">
                    <textarea class="form-control" id="content" name="content" 
                              placeholder="Enter the content" style="height: 150px;">{{ post.description if post else '' }}</textarea>
                    <label for="content">Content</label>
                </div>
                <div class="form-floating">
                    <textarea class="form-control" id="img_file" name="img_file" 
                              placeholder="Upload a file">{{ post.img_file if post else '' }}</textarea>
                    <label for="img_file">Image File</label>
                </div>
                <div class="form-floating">
                    <textarea class="form-control" id="shared_by" name="shared_by" 
                              placeholder="shared by">{{ post.shared_by if post else '' }}</textarea>
                    <label for="img_file">Shared by</label>
                </div>
                <div class="form-floating">
                    <input class="form-control" id="date" name="date" type="date" 
                           placeholder="Upload a file" value="{{ post.date if post else '' }}" />
                    <label for="date">Date</label>
                </div>
                <br />
                <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
<!-- Footer -->
{% endblock %}
